<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>WMS Web Application System</display-name>
    
    <!-- filter settting 
    <filter>
        <filter-name>Security Filter</filter-name>
        <filter-class>jp.co.fujixerox.wms.filter.AirrFilter</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>Security Filter</filter-name>
        <url-pattern>/api/*</url-pattern>
    </filter-mapping>-->
    
    <!-- context-param settting -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:wms-context.xml</param-value>
    </context-param>
       <!-- context-param settting 
    <context-param>
        <param-name>resteasy.providers</param-name>
        <param-value>
            jp.co.fujixerox.wms.common.ContextExceptionMapper
        </param-value>
    </context-param>-->
    <context-param>
        <param-name>resteasy.resources</param-name>
        <param-value>
            org.dl.tengrui.resource.UserResource
        </param-value>
    </context-param>

    <context-param>
        <param-name>encoding</param-name>
        <param-value>UTF-8</param-value>
    </context-param>
    
    <!-- listener settting 
    <listener>
        <listener-class>
            jp.co.fujixerox.wms.listener.AirrSessionListener
        </listener-class>
    </listener>
    -->
    <listener>
        <listener-class>
            org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap
        </listener-class>
    </listener>

    <listener>
        <listener-class>org.jboss.resteasy.plugins.spring.SpringContextLoaderListener</listener-class>
    </listener>

    <!-- servlet settting -->
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>org.dl.tengrui.servlet.LoginServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>org.dl.tengrui.servlet.LogoutServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>wmsweb</servlet-name>
        <servlet-class>
            org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
        </servlet-class>
        <init-param>
            <param-name>resteasy.servlet.mapping.prefix</param-name>
            <param-value>/api</param-value>
        </init-param>
    </servlet>
<!-- servlet settting-->
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>wmsweb</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <!-- session-timeout:60分 -->
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.htm</welcome-file>
    </welcome-file-list>
</web-app>